body {
  background-color: #D3D3D3;
  
}
button {
  margin: 25px 15px 19px;
  width: 100px;
  height: 50px;
  font-size: medium;
  background: #00FFFF;
}
p {
  font-size: larger;
}
input {
  text-align: center;
  font-size: medium;
 
}
.Table
    {
        display: table;
    }
    .Title
    {
        display: table-caption;
        text-align: center;
        font-weight: bold;
        font-size: larger;
    }
    .Heading
    {
        display: table-row;
        font-weight: bold;
        text-align: center;
    }
    .Row
    {
        display: table-row;
    }
    .Cell
    {
        display: table-cell;
        border: solid;
        border-width: thin;
        padding-left: 5px;
        padding-right: 5px;
        text-align: center;
        font-size: larger;
    }
#exerciseSec {
  display: none;
}
#nextBtn {
  display: none;
}
#verbDiv {
	vertical-align: middle;
}